.clients {
	padding: 110px 0 120px;
	background-color: #fff;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		max-width: 555px;
		min-height: 320px;
		padding: 50px 40px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 2px;
			height: 100%;
			background-color: $blue;
			left: 0;
			top: 0;
		}
	}

	&__box {
		margin-bottom: 27px;
		position: relative;

		&::before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			font-family: 'Linearicons-Free';
			font-size: 60px;
			color: #e8e8e8;
		}
	}

	&__user {
		max-width: 400px;
		height: 80px;
		display: flex;
		align-items: center;
	}

	&__icon {
		display: inline-block;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		object-fit: cover;
		margin-right: 20px;
	}

	&__name {
		font-size: 20px;
		@include font500;
		color: #000;
		margin-bottom: 12.5px;
	}

	&__job {
		color: #555;
	}

	&__text {
		line-height: 30px;
		color: #555;
	}

	&__arrows {
		position: relative;
		height: 50px;
		width: 130px;
		margin: 0 auto;
		margin-top: 10px;
	}

	&__btn {
		text-align: center;
		margin-top: 55px;
	}
}

@media (max-width: 992px) {
	.clients__box::before {
		font-size: 30px;
	}
}

@media (max-width: 768px) {
	.clients {
		padding: 50px 0;

		&__item {
			max-width: 100%;
		}

		&__btn {
			margin-top: 35px;
		}
	}
}

@media (max-width: 576px) {
	.clients {
		padding: 30px 0;

		&__label {
			margin-bottom: 30px;
		}

		&__item {
			padding: 15px;
		}

		&__box::before {
			display: none;
		}
	
	}
}