.footer {
	color: #ababab;
	font-size: 15px;

	&__top {
		background-color: #262b30;
		padding: 115px 0 115px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__column {
		max-width: 270px;

		&--short {
			max-width: 210px;
			padding: 0 15px;
		}

		&--long {
			max-width: 360px;
			padding-left: 0;
		}

		&--long .footer__text {
			margin-bottom: 30px;
		}
	}

	&__logo-link {
		display: block;
		margin-bottom: 20px;
	}

	&__text {
		line-height: 28px;
		margin-bottom: 15px;
	}

	&__addres {
		font-style: normal;
	}

	&__title {
		font-size: 18px;
		line-height: 42px;
		color: #fff;
		margin-bottom: 18px;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		color: #ababab;
		display: block;
		margin-bottom: 15px;
		@include font400;
		transition: all 0.3s;

		&--phone,
		&--email,
		&--map {
			padding-left: 25px;
			position: relative;
			line-height: 20px;

			&::before {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				color: #fff;
				font-family: 'Linearicons-Free';
			}
		}

		&:hover {
			color: $sky;
		}
	}

	&__form {
		margin-bottom: 47px;

		.mini-search {
			&__input {
				padding-right: 120px;
			}

			&__btn {
				width: 110px;
				font-size: 15px;

				&::before {
					display: none;
				}
			}
		}

	}

	&__copy {
		background-color: #192027;
	}

	&__inner {
		height: 95px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__copy-link {
		color: #fff;
		display: inline-block;
		@include font400;
		transition: all 0.3s;

		&:hover {
			color: $sky;
		}
	}
}

@media (max-width:992px) {
	.footer {
		&__top {
			padding: 50px 0;
		}

		&__row {
			flex-wrap: wrap;
			justify-content: space-around;
		}

		&__column--address,
		&__column--long {
			min-width: 100%;
		}

		&__form {
			width: 100%;
		}

		&__sosial {
			text-align: center;
		}
	}
}


@media (max-width:576px) {
	.footer {
		&__top {
			padding: 30px 0 0;
		}

		&__column {
			min-width: 100%;
		}

		&__column--short {
			padding-left: 0;
		}

		&__form {
			.mini-search {

				&__input {
					padding-right: 80px;
				}

				&__btn {
					font-size: 0;
					width: 70px;

					&::before {
						display: block;
					}
				}
			}
		}

		&__inner {
			height: 50px;
		}

		&__copy {
			padding-top: 5px;
			text-align: center;
		}
	}

	.sosial {
		flex-wrap: wrap;

		&__item {
			margin-bottom: 30px;
		}
	}
}