.news {
	padding: 115px 0 80px;

	&__label {
		margin-bottom: 55px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__items {
		height: 60px;
		display: flex;
		background-color: #fff;
		border-top: 1px solid #ececec;
	}

	.product__title {
		font-size: 22px;
		margin-bottom: 20px;
		@include font600;
		line-height: 27px;
	}

	.product__text {
		padding-bottom: 25px;
		margin-bottom: 0;
	}
}

@media (max-width: 1200px) {
	.news {
		padding: 50px 0;

		&__inner {
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
}

@media (max-width: 768px) {
	.news {
		padding: 30px 0;
	}
}