.choose {
	padding: 115px 0 97px;
	background-color: #fff;

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		counter-reset: section;
	}

	&__item {
		border-radius: 4px;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		width: 360px;
		text-align: center;
		padding: 53px 30px 50px;
		margin-bottom: 30px;
		position: relative;

		&::before {
			content: "0"counters(section, "");
			position: absolute;
			top: 10px;
			left: 15px;
			@include font300;
			font-size: 48px;
			color: rgba(92, 135, 248, 0.2);
			counter-increment: section;
		}
	}

	&__image {
		display: block;
		margin-bottom: 42px;
		transition: all 0.5s;

		&::before {
			font-size: 60px;
		}

		&:hover {
			transform: scale(1.1);
		}

		&--blue {
			&::before {
				color: $blue;
			}
		}

		&--violet {
			&::before {
				color: $violet;
			}
		}

		&--green {
			&::before {
				color: $green;
			}
		}

		&--yellow {
			&::before {
				color: $yellow;
			}
		}

		&--sky {
			&::before {
				color: $sky;
			}
		}

		&--red {
			&::before {
				color: $red;
			}
		}
	}

	&__title {
		display: block;
		font-size: 24px;
		color: #000;
		margin-bottom: 20px;
		transition: all 0.3s;

		&:hover {
			color: $blue;
		}
	}

	&__text {
		line-height: 30px;
		color: #555;
	}
}

@media (max-width: 1200px) {
	.choose {
		padding: 50px 0;
		&__inner {
			justify-content: space-around;
		}

		&__item {
			width: 47%;
		}
	}
}

@media (max-width: 576px) {
	.choose {
		padding: 30px 0 0;

		&__item {
			width: 100%;
		}
	}
}