.clients {
	padding: 110px 0 120px;
	background-color: #fff;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		width: 555px;
		min-height: 320px;
		padding: 50px 40px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 2px;
			height: 100%;
			background-color: $blue;
			left: 0;
			top: 0;
		}
	}

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 27px;
	}

	&__user {
		max-width: 400px;
		height: 80px;
		display: flex;
		align-items: center;
	}

	&__icon {
		display: inline-block;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		object-fit: cover;
		margin-right: 20px;
	}	

	&__name {
		font-size: 20px;
		@include font500;
		color: #000;
		margin-bottom: 12.5px;
	}

	&__job {
		color: #555;
	}

	&__bubble {
		&::before {
			font-size: 60px;
			color: #e8e8e8;
		}
	}

	&__text {
		line-height: 30px;
		color: #555;
	}

	&__btn {
		text-align: center;
		margin-top: 55px;
	}

	&__link {
		display: inline-block;	
	}
}