.features {
	background-color: #fff;
	padding: 185px 0 120px;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		width: 360px;
		min-height: 405px;
		padding: 40px 30px;
		text-align: center;
		transition: all 0.5s;

		&:hover {
			box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		}
	}

	&__image {	
		margin-bottom: 30px;	
		min-height: 120px;			
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__link {
		display: block;
		background-image: url(../images/features/01.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 112px;
		height: 112px;		
		transition: all 1s;

		&--2 {
			background-image: url(../images/features/02.png);
			width: 113px;
			height: 120px;
		}

		&--3 {
			background-image: url(../images/features/03.png);
		}

		&:hover {
			transform: scale(1.1);;
		}
	}

	&__title {
		display: block;
		font-size: 24px;
		margin-bottom: 22px;
		color: #000;
		transition: all 0.5s;

		&:hover {
			color: $blue;
		}
	}

	&__text {
		line-height: 30px;
		color: #555;
	}
}

@media (max-width:992px) {
	.features {
		padding: 135px 0 10px;

		&__inner {
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
}

@media (max-width:768px) {
	.features {		
		&__item {
			width: 100%;
			min-height: 300px;
			border-bottom: 1px solid #cacaca;
		}
	}
}