@font-face {
	font-family: 'Quicksand';
	src:
		url('../fonts/Quicksand-Light.woff2') format('woff2'),
		url('../fonts/Quicksand-Light.woff') format('woff'),
		url('../fonts/Quicksand-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Quicksand';
	src:
		url('../fonts/Quicksand-Regular.woff2') format('woff2'),
		url('../fonts/Quicksand-Regular.woff') format('woff'),
		url('../fonts/Quicksand-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Quicksand';
	src:
		url('../fonts/Quicksand-Medium.woff2') format('woff2'),
		url('../fonts/Quicksand-Medium.woff') format('woff'),
		url('../fonts/Quicksand-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Quicksand';
	src:
		url('../fonts/Quicksand-SemiBold.woff2') format('woff2'),
		url('../fonts/Quicksand-SemiBold.woff') format('woff'),
		url('../fonts/Quicksand-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Quicksand';
	src:
		url('../fonts/Quicksand-Bold.woff2') format('woff2'),
		url('../fonts/Quicksand-Bold.woff') format('woff'),
		url('../fonts/Quicksand-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Linearicons-Free';
	src:
		url('../fonts/Linearicons-Free.woff2?w118d') format('woff2'),
		url('../fonts/Linearicons-Free.woff?w118d') format('woff'),
		url('../fonts/Linearicons-Free.ttf?w118d') format('truetype'),
		url('../fonts/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
	font-weight: normal;
	font-style: normal;
}

.lnr {
	font-family: 'Linearicons-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// alarm
.lnr-alarm:before {
	content: "\e858";
}

// email
.lnr-envelope:before {
	content: "\e818";
}

// basket
.lnr-cart:before {
	content: "\e82e";
}

// search
.lnr-magnifier:before {
	content: "\e86f";
}

// heart
.lnr-heart:before {
	content: "\e813";
}

//case
.lnr-briefcase:before {
	content: "\e84c";
}

//cloud
.lnr-cloud-download:before {
	content: "\e80b";
}

//smile
.lnr-smile:before {
	content: "\e854";
}

//user
.lnr-user:before {
	content: "\e82a";
}

//users
.lnr-users:before {
	content: "\e82b";
}

//license
.lnr-license:before {
	content: "\e822";
}

//magic wand
.lnr-magic-wand:before {
	content: "\e803";
}

//lock
.lnr-lock:before {
	content: "\e80f";
}

//chart-bars
.lnr-chart-bars:before {
	content: "\e843";
}

//leaf
.lnr-leaf:before {
	content: "\e849";
}

//phone
.lnr-phone:before {
	content: "\e831";
}

//phone-handset
.lnr-phone-handset:before {
	content: "\e830";
}

//bubble
.lnr-bubble:before {
	content: "\e83f";
}

//clock
.lnr-clock:before {
	content: "\e864";
}

//eye
.lnr-eye:before {
	content: "\e81b";
}

//home
.lnr-home:before {
	content: "\e800";
}

//settings
.lnr-cog:before {
	content: "\e810";
}

//dice
.lnr-dice:before {
	content: "\e812";
}

//upload
.lnr-upload:before {
	content: "\e866";
}

//logout
.lnr-exit:before {
	content: "\e820";
}

//book
.lnr-book:before {
	content: "\e828";
}

//prev
.lnr-chevron-left:before {
	content: "\e875";
}

//next
.lnr-chevron-right:before {
	content: "\e876";
}

//map
.lnr-map-marker:before {
	content: "\e833";
}

//trash
.lnr-trash:before {
	content: "\e811";
}

.lnr-arrow-left:before {
	content: "\e879";
}

@font-face {
	font-family: 'icomoon';
	src:
		url('../fonts/icomoon.woff?x00xko') format('woff'),
		url('../fonts/icomoon.ttf?x00xko') format('truetype'),
		url('../fonts/icomoon.svg?x00xko#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-document-file-psd:before {
	content: "\e900";
}

.icon-twitter:before {
	content: "\f099";
}

.icon-facebook:before {
	content: "\f09a";
}

.icon-facebook-f:before {
	content: "\f09a";
}

.icon-pinterest:before {
	content: "\f0d2";
}

.icon-html5:before {
	content: "\f13b";
}

.icon-dribbble:before {
	content: "\f17d";
}

.icon-wordpress:before {
	content: "\f19a";
}

.icon-google:before {
	content: "\f1a0";
}

.icon-linkedin2:before {
	content: "\eaca";
}