.footer {
	color: #ababab;
	font-size: 15px;

	&__top {
		background-color: #262b30;
		padding: 115px 0 115px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__column {
		max-width: 270px;

		&--short {
			max-width: 210px;
			padding: 0 15px;
		}

		&--long {
			max-width: 360px;
			padding-left: 0;
		}

		&--long .footer__text {
			margin-bottom: 30px;
		}
	}

	&__logo-link {
		display: block;
		margin-bottom: 20px;
	}

	&__text {
		line-height: 28px;
		margin-bottom: 15px;
	}

	&__addres {
		font-style: normal;
	}

	&__title {
		font-size: 18px;
		line-height: 42px;
		color: #fff;
		margin-bottom: 18px;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		color: #ababab;
		display: block;
		margin-bottom: 15px;
		@include font400;		
		transition: all 0.3s;

		&--phone,
		&--email,
		&--map {
			padding-left: 25px;
			position: relative;
			line-height: 20px;

			&::before {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				color: #fff;
				font-family: 'Linearicons-Free';
			}
		}

		&:hover {
			color: $sky;
		}
	}

	&__form {
		margin-bottom: 47px;
	}

	&__form-email {
		max-width: 100%;
		padding-right: 120px;
	}

	&__form-btn {
		font-size: 15px;
		color: #fff;
		padding: 15px 28px;
		top: -1px;

		&::before {
			content: "";
		}
	}

	&__copy {
		background-color: #192027;
	}

	&__inner {
		height: 95px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__copy-link {
		color: #fff;
		display: inline-block;
	}
}