.footer {
	color: #ababab;
	font-size: 15px;

	&__top {
		background-color: #262b30;
		padding: 115px 0 115px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__column {
		max-width: 300px;

		&--short {
			max-width: 210px;
			padding: 0 15px;
		}

		&--long {
			max-width: 360px;
			padding-left: 0;
		}

		&--long .footer__text {
			margin-bottom: 30px;
		}
	}

	&__logo-link {
		display: block;
		margin-bottom: 20px;
	}

	&__text {
		line-height: 28px;
		margin-bottom: 15px;
	}

	&-link {
		display: block;
		transition: all 0.3s;

		&:hover {
			color: $sky;
		}
	}

	&__addres {
		font-style: normal;
	}

	&__phone,
	&__email,
	&__map {
		line-height: 26px;
		color: #ababab;
		display: block;
		margin-bottom: 10px;
		padding-left: 30px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			color: #fff;
			font-family: 'Linearicons-Free';
			font-size: 16px;
		}
	}

	&__phone {
		&::before {
			content: "\e830";
		}
	}

	&__email {
		&::before {
			content: "\e818";
		}
	}

	&__map {
		&::before {
			content: "\e833";
		}
	}

	&__title {
		font-size: 18px;
		line-height: 42px;
		color: #fff;
		margin-bottom: 18px;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		color: #ababab;
	}

	&__form {
		margin-bottom: 47px;
	}

	&__form-email {
		max-width: 100%;
	}

	&__form-btn {
		font-size: 15px;
		color: #fff;
		padding: 15px 28px;

		&::before {
			content: "";
		}
	}

	&__sosial {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__sosial-item {
		display: inline-block;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__sosial-link {
		position: relative;
		font-size: 0;
		text-align: center;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background-color: #395799;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.5s;

		&::before {
			content: "\f09a";
			font-size: 16px;
			font-family: 'icomoon';
			color: #fff;
		}

		&:hover {
			transform: translateY(2px);
		}
	}

	&__sosial-twitter {
		background-color: #19b2f5;

		&::before {
			content: "\f099";
		}
	}

	&__sosial-google {
		background-color: #f05b44;

		&::before {
			content: "\f1a0";
		}
	}

	&__sosial-pinterest {
		background-color: #9c0c1c;

		&::before {
			content: "\f0d2";
		}
	}

	&__sosial-linkedin {
		background-color: #0da6be;

		&::before {
			content: "\eaca";
		}
	}

	&__sosial-dribbble {
		background-color: #ea4c89;

		&::before {
			content: "\f17d";
		}
	}

	&__copy {
		background-color: #192027;
	}

	&__inner {
		height: 95px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__copy-link {
		color: #fff;
		display: inline-block;
	}
}