html {
	box-sizing: border-box;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	height: 100%;
	@include font400;
	font-size: 16px;
	background-color: $bg;
}

a {
	text-decoration: none;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-middle {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 1950px;
	margin: 0 auto;
	padding: 0 15px;
}

.block {
	height: 110px;
	padding: 30px;
	background-color: #fff;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

	&__title {
		font-size: 30px;
		color: #000;
	}
}

.block-bg {
	background: linear-gradient(to left, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
}

.label {
	text-align: center;
	max-width: 675px;
	margin: 0 auto;
	margin-bottom: 50px;

	&__title {
		font-size: 36px;
		color: #000;
		margin-bottom: 20px;
	}

	&__color {
		color: $blue;
	}

	&__subtitle {
		line-height: 30px;
	}
}

.btn {
	cursor: pointer;
	outline: transparent;
	border: 1px solid transparent;

	&:active {
		background-color: darken($sky, 30%);
	}

	&:focus {
		border: 1px solid #000;
	}
}

//sliders arrow

.weekly-arrow,
.followers-arrow,
.clients-arrow {
	cursor: pointer;
	font-size: 0;
	text-align: center;
	border: none;
	background-color: transparent;
	outline: transparent;
	width: 50%;
	height: 100%;
	border: 1px solid transparent;

	&::before {
		color: #fff;
		font-size: 15px;
	}
}

.weekly-arrow {
	&:hover {
		transition: all 0.3s;
		background-color: lighten($violet, 10%);
	}

	&:focus {
		border: 1px solid $blue;
	}

	&:active {
		background-color: darken($violet, 10%);
	}
}

.weekly-arrow.slick-prev,
.followers-arrow.slick-prev {
	border-bottom-left-radius: 40px;
	border-top-left-radius: 40px;
}

.weekly-arrow.slick-next,
.followers-arrow.slick-next {
	border-bottom-right-radius: 40px;
	border-top-right-radius: 40px;
}

.followers-arrow {
	&:hover {
		transition: all 0.3s;
		background-color: lighten($blue, 10%);
	}

	&:focus {
		border: 1px solid $violet;
	}

	&:active {
		background-color: darken($blue, 10%);
	}
}

.clients-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 15px 0px rgba(67, 67, 67, 0.15);
	border-radius: 50%;
	z-index: 3;
	transition: all 0.3s;

	&:hover {
		background-color: $sky;
	}
}

.clients-arrow.slick-prev {
	left: -25px;

	&::before {
		color: $violet;
	}
}

.clients-arrow.slick-next {
	right: -25px;

	&::before {
		color: $blue;
	}
}