html {
	box-sizing: border-box;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	height: 100%;
	@include font400;
	font-size: 16px;
	background-color: $bg;
}

a {
	text-decoration: none;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}



.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 1950px;
	margin: 0 auto;
	padding: 0 15px;
}

.block {
	height: 110px;
	padding: 30px;
	background-color: #fff;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

	&__title {
		font-size: 30px;
		color: #000;
	}
}

.btn {
	cursor: pointer;
	outline: transparent;
	border: 1px solid transparent;

	&:active {
		background-color: darken($sky, 30%);
	}

	&:focus {
		border: 1px solid #000;
	}
}