.header {

	&__top-inner {
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo-link {
		margin-left: 10px;
	}

	&__items {
		display: flex;
		align-items: center;
	}

	&__seller {
		font-size: 14px;
		padding: 10px 20px;
		margin-right: 45px;	
	}

	&__links {
		margin-right: 15px;
		display: inline-flex;
		align-items: center;
	}

	&__link {
		position: relative;
		font-size: 0;
		text-align: center;
		margin-right: 33px;

		&::before {
			font-size: 20px;
			color: #7e8fa1;
		}

		&--alarm .header__number {
			background-color: $red;
		}

		&--email .header__number {
			background-color: $green;
		}

		&--basket .header__number {
			background-color: $blue;
		}
	}

	&__number {
		position: absolute;
		top: -15px;
		right: -15px;
		min-width: 20px;
		height: 20px;
		padding: 0 3px;
		border-radius: 50%;
		font-size: 14px;
		line-height: 20px;
		@include font500;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
	}

	&__bottom {
		background-color: #fff;
	}

	&__bottom-inner {
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__form {
		position: relative;
	}

	&__form-search {
		width: 360px;
		height: 46px;
		padding-left: 25px;
		padding-right: 85px;
		border: 1px solid #d9dfe5;
		border-radius: 40px;
		outline: transparent;

		&::placeholder {
			font-size: 15px;
			line-height: 30px;
			color: #898f96;
		}

		&:focus {
			border-color: $blue;
		}
	}

	&__form-btn {
		cursor: pointer;
		position: absolute;
		right: 0;
		padding: 22px 34px;
		border-radius: 40px;
		background-color: $blue;
		font-size: 0;
		text-align: center;
		outline: transparent;
		border: 1px solid $blue;
		transition: all 0.5s;

		&::before {
			content: "\e86f";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 15px;
			color: #fff;
			font-family: 'Linearicons-Free';
		}

		&:hover {
			background-color: lighten($blue, 20%);
		}

		&:focus {
			border-color: darken($blue, 50%);
			background-color: lighten($blue, 10%);
		}
	}
}

.menu {

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		display: inline-block;
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		text-transform: uppercase;
		color: #333;
		transition: all 0.3s;
		font-size: 15px;
		@include font600;

		&:hover {
			color: $blue;
		}

		&:active {
			text-shadow: 1px 1px 1px $blue;
		}
	}

	&__burger {
		display: none;
		font-size: 0;
		text-align: center;
		cursor: pointer;
		border: none;
		background-color: transparent;
		position: relative;
		width: 30px;
		height: 30px;

		&::before {
			content: "";
			position: absolute;
			top: 3px;
			left: 0;
			width: 30px;
			height: 5px;
			border-radius: 5px;
			background-color: #333;
			box-shadow: 0 10px 0 0 #333, 0 20px 0 0 #333;
			transition: all 0.5s;
		}

		&:hover {
			&::before {
				background-color: $blue;
				box-shadow: 0 10px 0 0 $blue, 0 20px 0 0 $blue;
			}
		}
	}
}

.user {
	cursor: pointer;
	display: flex;
	align-items: center;

	&__icon {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 20px;
	}

	&__img {
		max-width: 100%;
	}

	&__info {
		line-height: 22px;
	}

	&__name {
		@include font500;
		display: block;
		color: #333;
	}

	&__money {
		color: $blue;
		font-size: 15px;
	}

	&__menu {
		position: absolute;
		top: 75px;
		right: 0;
		min-width: 270px;
		padding: 20px;
		z-index: 2;
		box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
		background-color: #fff;
		visibility: hidden;
		transition: all 0.3s;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $blue;
		}

		&::after {
			content: "";
			position: absolute;
			top: -10px;
			right: 30px;
			width: 18px;
			height: 10px;
			border-style: solid;
			border-width: 0 8px 10px 8px;
			border-color: transparent transparent $blue transparent;
		}
	}

	&__menu-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__menu-item {}

	&__menu-link {
		display: block;
		font-size: 15px;
		padding: 15px 20px;
		padding-left: 40px;
		position: relative;
		color: #54667a;
		@include font400;

		&::before {
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 15px;
			font-family: 'Linearicons-Free';
		}

		&:hover {
			background-color: $blue;
			color: #fff;
		}
	}
}

.user-box {
	position: relative;

	&:hover {
		.user__menu {
			visibility: visible;
		}
	}
}