.release {
	padding: 120px 0;
	background-color: #f6f7fb;

	&__block {
		margin-bottom: 30px;
	}

	&__filter {
		position: relative;
	}

	&__filter-btn {
		cursor: pointer;
		padding: 25px 35px;
		color: $grey;
		line-height: 32px;

		border: none;
		background-color: transparent;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 33px;
			width: 4px;
			width: 4px;
			height: 4px;
			background-color: #a3b1c4;
			border-radius: 50%;
			box-shadow: 0 8px 0 0 #a3b1c4, 0 16px 0 0 #a3b1c4;
		}

		&:hover {
			&::after {
				background-color: $blue;
				box-shadow: 0 8px 0 0 $blue, 0 16px 0 0 $blue;
			}
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__menu-list {
		height: 0;
		overflow: hidden;
		z-index: 2;
		margin: 0;
		padding: 0 30px;
		list-style: none;
		position: absolute;
		top: 75px;
		right: -25px;
		min-width: 185px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
		transition: all 1s;

		&::before {
			content: "";
			position: absolute;
			top: -14px;
			right: 20px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 8px 18px 8px;
			border-color: transparent transparent #fff transparent;
		}
	}

	&__filter:hover .release__menu-list {
		height: auto;
		padding: 30px;
		overflow: visible;
	}


	&__menu-btn {
		cursor: pointer;
		display: block;
		width: 100%;
		border: none;
		background-color: transparent;
		color: $grey;
		font-size: 15px;
		line-height: 20px;
		text-align: left;
		transition: all 0.3s;
		margin-bottom: 5px;

		&:hover {
			color: $blue;
		}
	}

	&__buttons {
		position: relative;
		min-height: 92px;
		padding: 30px 30px 10px;
		box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
		border-radius: 4px;
		overflow: hidden;
		background-color: #fff;
		margin-bottom: 50px;
	}

	&__btn {
		margin-right: 5px;
		margin-bottom: 20px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__items-bottom {
		text-align: center;
	}

	&__btn-new {
		margin-top: 35px;
		background-color: $blue;
		color: #fff;
		padding: 15px 30px;
		border-radius: 40px;
	}
}

.news__items {
	padding: 0 25px;
}

.mixitup-control-active {
	background-color: $blue;
	color: #fff;
}

.release__menu-btn.mixitup-control-active {
	background-color: transparent;
	color: $blue;
}

@media (max-width: 1200px) {
	.release {
		padding: 50px 0;
		&__wrapper {
			justify-content: space-around;
		}
	}
}

@media (max-width: 768px) {
	.release {
		padding: 30px 0;
		&__buttons {
			margin-bottom: 30px;
		}
		&__btn-new {
			margin-top: 10px;
		}
	}
}