.release {
	padding: 120px 0;
	background-color: #f6f7fb;

	&__block {
		margin-bottom: 30px;
	}

	&__filter {
		position: relative;

		&-menu {
			position: absolute;
			top: 45px;
			left: -130px;
			border-radius: 3px;
			background-color: #fff;
			box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
			min-width: 183px;
			min-height: 179px;
			padding: 28px;
			z-index: 2;

			visibility: hidden;

			transition: all 0.5s;

			&::before {
				content: "";
				position: absolute;
				top: -14px;
				right: 27px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 8px 18px 8px;
				border-color: transparent transparent #fff transparent;
			}
		}

		&-menu-list {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		&-menu-item {}

		&-menu-link {
			display: block;
			font-size: 15px;
			line-height: 28px;
			color: #747b86;
			transition: all 0.3s;

			&:hover {
				color: $blue;

			}
		}
	}

	&__filter-text {}

	&__filter-btn {
		outline: transparent;
		width: 30px;
		height: 30px;
		cursor: pointer;
		border: none;
		background-color: transparent;
		font-size: 0;
		text-align: center;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			width: 4px;
			height: 4px;
			background-color: #a3b1c4;
			border-radius: 50%;
			box-shadow: 0 8px 0 0 #a3b1c4, 0 16px 0 0 #a3b1c4;
		}

	}

	&__filter-btn:hover &__filter-menu {
		visibility: visible;
	}

	&__buttons {
		display: none;
		height: 92px;
		padding: 30px;
		box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
		border-radius: 4px;
		background-color: #fff;
		margin-bottom: 50px;
	}

	&__btn {
		cursor: pointer;
		padding: 10px 20px;
		font-size: 15px;
		background-color: #f1f3f6;
		border: none;
		border-radius: 20px;
		margin-right: 6px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		width: 360px;
		border-radius: 4px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		margin-bottom: 30px;
	}

	&__item-image {
		display: block;
		max-width: 100%;
		min-height: 230px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		overflow: hidden;
	}

	&__item-mask {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 0;
		width: 0;
		background-image: linear-gradient(to left, rgba(6, 116, 236, 0.9) 0%, rgba(61, 94, 215, 0.9) 46%, rgba(115, 71, 193, 0.9) 100%);
		display: flex;
		justify-content: center;
		align-items: center;
		visibility: hidden;
	}

	&__item-mask-link {
		text-align: center;
		display: inline-block;
		color: #fff;
		font-weight: 400;
		font-size: 16px;
		border: 1px solid #fff;
		border-radius: 40px;
		padding: 15px 30px;
		margin-right: 22px;
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
		transition: all 0.5s;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: $blue;
			background-color: #fff;
		}
	}

	&__item-image:hover &__item-mask {
		transition: all ease 0.8s;
		visibility: visible;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__item-content {
		padding: 30px 0 0;
	}

	&__item-body {
		padding: 0 30px;
	}

	&__item-title {
		font-size: 20px;
		font-weight: 500;
		color: #000;
		margin-bottom: 20px;
	}

	&__item-links {
		display: flex;
		align-items: center;
		margin-bottom: 35px;
	}

	&__item-user {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;

		&-img {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			margin-right: 10px;
		}

		&-name {
			font-size: 15px;
			margin-right: 20px;
			color: #000;
		}
	}

	&__item-category {
		font-size: 15px;
		color: $violet;
	}

	&__item-category-text {
		display: inline-block;
		padding-left: 25px;
		position: relative;
		background-repeat: no-repeat;
		background-position: left;
		background-size: 15px 17px;

		&::before {
			content: "";
			position: absolute;
			left: 0;
		}
	}

	&__item-text {
		margin-bottom: 35px;
		line-height: 30px;
		color: #555;
	}

	&__item-box {
		padding: 0 30px;
		height: 62px;
		border-top: 1px solid #ececec;
		display: flex;
		align-items: center;
	}

	&__item-price {
		font-weight: 700;
		font-size: 15px;
		color: $blue;
		background-color: #e6f1fd;
		padding: 8px 20px;
		border-radius: 20px;
		margin-right: 15px;
	}

	&__item-like {
		min-width: 45px;
		padding-left: 25px;
		position: relative;
		border: none;
		background-color: transparent;
		margin-right: 5px;


		&::before {
			content: "\e813";
			position: absolute;
			font-family: 'Linearicons-Free';
			font-size: 15px;
			color: $violet;
			top: 0;
			left: 0;
		}
	}

	&__item-stars {}

	&__item-basket {
		min-width: 45px;
		padding-left: 25px;
		position: relative;
		border: none;
		background-color: transparent;
		margin-left: auto;
		color: $blue;

		&::before {
			content: "\e82e";
			position: absolute;
			font-family: 'Linearicons-Free';
			font-size: 15px;
			color: $blue;
			top: 0;
			left: 0;
		}
	}

	&__items-bottom {
		text-align: center;
	}

	&__items-new {
		cursor: pointer;
		border-radius: 40px;
		padding: 15px 30px;
		border: none;
		background-color: $blue;
		color: #fff;
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
		margin-top: 60px;
		transition: all 0.5s;
	}
}