$blue: #0674ec;
$sky: #58c9e9;
$red: #ff6a6c;
$green: #62d03b;
$yellow: #feb71d;
$violet: #7f4ec2;
$bg: #eff1f5;
$grey: #747b86;


@mixin font300 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;	
}

@mixin font400 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;	
}

@mixin font500 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;	
}

@mixin font600 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;	
}

@mixin font700 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}