.product-page {
	&__header {
		background-color: #fff;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 100px;
	}

	&__btn {
		cursor: pointer;
		border: 1px solid transparent;
		background-color: transparent;
		color: #555;
		margin-right: 10px;
		padding: 15px 5px;
		outline: transparent;
		transition: all 0.3s;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: $blue;
		}

		&:focus {
			color: $blue;
			border-color: $blue;
		}

		&:active {
			text-shadow: 1px 1px 1px $blue;
		}
	}

	&__box {
		display: flex;
		justify-content: space-between;
	}

	&__price,
	&__number {
		border: 1px solid rgb(236, 239, 242);
		margin-right: 30px;
		width: 220px;
		padding: 10px;
		font-size: 14px;
	}

	&__buttons {
		border: 1px solid rgb(236, 239, 242);
		border-radius: 3px;
		width: 94px;
		height: 42px;
		display: flex;
	}

	&__button {
		cursor: pointer;
		width: 50%;
		border: 1px solid transparent;
		background-color: transparent;
		outline: transparent;
		transition: all 0.3s;

		&:hover {
			background-color: lighten($blue, 50%);
		}

		&:active {
			background-color: lighten($blue, 30%);
		}

		&:focus {
			border-color: $blue;
		}

		&.active {
			path {
				fill: rgb(6, 116, 236);
			}
		}
	}

	&__inner {
		padding: 80px 0 30px;
		display: flex;
		justify-content: first baseline;
	}

	&__aside {
		flex: 0 0 263px;
		margin-right: 30px;
	}

	&__content {
		margin-left: -30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}

.aside {
	margin-right: 30px;

	&__box {
		border-radius: 4px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		width: 265px;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		cursor: pointer;
		width: 100%;
		text-align: left;
		@include font400;
		color: #000;
		font-size: 20px;
		padding: 27px 30px 25px;
		border: 1px solid transparent;
		background-color: transparent;
		outline: transparent;
		position: relative;
		transition: all 0.3s;

		&::before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 30px;
			font-size: 12px;
			font-family: 'Linearicons-Free';
		}

		&:hover {
			color: $blue;
		}

		&:focus {
			border-color: $blue;
		}

		&:active {
			text-shadow: 1px 1px 1px $blue;
		}
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 15px 10px 10px;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 30px;
			width: 203px;
			height: 1px;
			background-color: #cacaca;
		}
	}

	&__list-item {
		display: flex;
		padding: 10px 20px;
	}

	&__list-input {
		margin-right: 10px;
		position: relative;
		top: 3px;
	}

	&__list-label {
		width: 100%;
		cursor: pointer;
		transition: all 0.3s;

		&:hover {
			color: $blue;
		}

		&:active {
			text-shadow: 1px 1px 1px $blue;
		}

		&.mixitup-control-active {
			background-color: transparent;
			color: $red;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 1px 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 10px 20px 10px 0;
		font-size: 15px;
		color: #555;
		background-color: transparent;
		outline: transparent;
		border: 1px solid transparent;
		padding-left: 20px;
		position: relative;
		transition: all 0.3s;

		&:hover {
			color: $blue;
		}

		&:focus {
			border-color: $blue;
		}

		&:active {
			text-shadow: 1px 1px 1px $blue;
		}

		&--filter {
			cursor: pointer;
			width: 100%;
			text-align: left;
			border: none;
			background-color: transparent;
			padding-top: 10px;
			padding-bottom: 10px;

			&::before {
				font-family: 'icomoon';
			}
		}
	}

	&__name {
		padding-left: 20px;
		position: relative;

		&::before {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			font-size: 10px;
			color: #747b86;
		}
	}

	&__number {
		color: #747b86;
		font-size: 15px;
		@include font400;
		margin-left: 10px;
	}

	&__form {
		width: 100%;
		padding-top: 10px;
		position: relative;
		text-align: center;
	}

	&__btn {
		margin-top: 75px;
		box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
		min-width: 170px;
		padding: 12px 10px;
	}
}

@media (max-width: 1200px) {
	.product-page {
		&__inner {
			display: block;
			padding: 30px 0;
		}
	}

	.aside {
		margin-right: 0;
		margin-bottom: 30px;

		&__title {
			padding: 15px 0 15px;
		}

		&__box {
			width: 100%;
			padding: 0 0 10px;
		}

		&__title {
			padding: 10px 30px;

			&::before {
				right: 30px;
			}
		}

		&__list {
			display: none;
			padding: 10px 30px;
		}
	}
}

@media (max-width: 992px) {
	.product-page {
		&__filter {
			display: none;
		}

		&__box {
			width: 100%;
			justify-content: flex-start;
		}

		&__buttons {
			display: none;
		}
	}
}


@media (max-width: 576px) {
	.product-page {
		&__row {
			padding: 10px;
		}

		&__inner {
			padding-bottom: 0;
		}

		&__box,
		&__price,
		&__number {
			width: 100%;
			display: block;
		}

		&__price,
		&__number {
			margin-bottom: 10px;
		}
	}

	.aside {
		&__link {
			padding: 15px 5px 15px 20px;
		}
	}
}